.Button {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
}

.Button:focus {
    outline: none;
}

.Button:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);;
}

.Button:disabled {
    background: rgb(255, 255, 255);
    color: #000;
    cursor: not-allowed;
}

.error {
    background: rgba(240, 87, 108, 1);
    color: rgb(190, 27, 27);
}

.success {
    background: cornflowerblue;
    color: #fff;
}

.primary {
    background: cornflowerblue;
    color: #fff;
}