.Chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  max-width:320px;
  padding: 20px 5px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px; 
  background:  #ffffff;
  box-shadow: 1px 1px 1px 1px #000;
  z-index: 90;
}
.Chatheader {
  background:  #ffffff;
  z-index: 90;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}

  