.Chat {
  display: flex ;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  max-width:320px;
  padding: 20px 5px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px; 
  background:  #ffffff;
  z-index: 90;
  transform: translateX(0 px) ;
  transition: transform .22 ease-in ;
}

.Chat.close {
  transform: translateX(320);
}
.Chatheader {
  background:  #ffffff;
  z-index: 90;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}

  