.Chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  max-width:320px;
  padding: 20px 5px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px; 
  background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
  z-index: 90;
}

.Chatheader {
  background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
  z-index: 90;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
}

  