.Auth {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.Auth > div {
    width: 100%;
    max-width: 900px;
    padding: 100px;
    
}

.AuthForm {
    background: white;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #bebebe;
}

.Auth h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}