.MenuToggle {
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    transition: opacity, left .22s ease-in;
    z-index: 100
}

.MenuToggle:hover {
    opacity: .7;
    color: cornflowerblue;
}

.MenuToggle.open {
    color: white;
    left: 320px;
}